# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# iOS
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/.symlinks/

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
*.jks

# Dart
*.dart.js
*.dart.js.deps
*.dart.js.map

# IDE
.idea/
.vscode/
*.iml
